.paginationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin-top: 1.5rem;
}

.paginationContainer > li {
  border: 1px solid #313131;
  width: 3ch;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.paginationContainer > li > a {
  color: inherit;
  text-decoration: none;
}
